.conditionformat-cvalue_text, .conditionformat-cvalue_date,
.conditionformat-tcolor, .conditionformat-tbgcolor, .conditionformat-clear-buttons,
.conditionformat-required, .conditionformat-disabled, .conditionformat-hidden {
    margin-right: 10px;
    margin-bottom: 8px;
}

.conditionformat-tcolor, .conditionformat-tbgcolor {
    width: 90px;
}

.conditionformat-size {
    padding-right: 0px;
    width: 120px;
}

.conditionformat-ctype {
    padding-right: 0px;
    width: 150px;
}
.conditionformat-cvalue_date, .conditionformat-cvalue_text {
    width: 230px;
}

.conditionformat-cvalue_date {
    padding-right: 0px;
    width: 60px;
}

.conditionformat-today_date {
    width: 120px;
    color: #327fcb;
}

.conditionformat-day_date {
    width: 50px;
    color: #327fcb;
}

.add-row-image-gaia, .remove-row-image-gaia {
    cursor: pointer;
}

.conditionformat-required, .conditionformat-disabled, .conditionformat-hidden {
    width: 52px;
    height: 52px;
    cursor: pointer;
}
